<section class="main-content">   
    <header>
        <h1 class="page-title">Inspire8</h1>
        <h2 class="sub-title">Create a list of websites to get reviwed</h2>
    </header>
    <ul class="add-type-tabs">
        <li class="add-new active"><a href="#">Add New</a></li>
        <li class="from-list "><a href="#">From List</a></li>
    </ul>
    <section class="add-new-section">
        <%= render 'form' %>

    </section>
</section

<%= link_to 'Back', links_path %>